.body {
  background: white;
  border-radius: 8px;
  height: 50px;
  margin: 20px 24px;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

@media (max-width: 720px) {
  .body{
    margin: 16px 20px;
  }
}
@media (max-width: 425px) {
  .body{
    margin: 16px 0;
    border-radius: 0;
  }
}