.printContent {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media print {
  .body{
    visibility: hidden;
  }
  .printContent {
    visibility: visible;
  }
}
