.bgContent {
  width: 100vw;
  height: 45vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.bgContent {
  animation-name: bgHeightAnim;
  animation-delay: 0s;
  animation-duration: 3s;
}
.themeModeBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: bottom;
}

.body {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgTitle {
  font-family: "Poppins", sans-serif;
  font-size: 82px;
  font-weight: 400;
  width: 400px;
}

.bgTitleSec {
  font-family: "Alex Brush", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 100px;
  height: 50px;
}

@keyframes bgHeightAnim {
  from{
    height: 100vh;
  }
  to{
    height: 45vh;
  }
}