.card {
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #000;
}
.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}
.button {
  width: 100%;
}
.loadingCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Give product */
.tableItem {
  vertical-align: text-top;
}
.tableItem:last-child {
  max-width: 70px;
  text-align: right;
}

.tableRow {
  border-bottom: solid thin #eeee;
}
.tableRow td {
  padding: 0.5rem 0;
}

@media (max-width: 768px) {
  .tableItem:last-child {
    width: 70%;
  }
}
